
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<link rel="stylesheet" href="/GiaoDien/admin.css">
<header class="header">
    <h1>Welcome Back, Admin!</h1>
</header>