
@{
    ViewData["Title"] = "CuaHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
	<title></title>
	<style>
		* {
			font-family: Roboto Condensed;
		}
		*, ::after, ::before {
			box-sizing: border-box;
		}
		#ega-page {
			padding-top: 48px;
			padding-bottom: 48px;
		}
		body {
			line-height: 1.5;
			font-size: 1rem;
			color: #333;
			width: 100%;
			min-height: 100%;
			margin: 0;
			scroll-behavior: smooth;
		}
		html, body {
			font-size: 14px;
		}
		body {
			background: #ffffff;
			color: #000000;
			overflow-x: hidden;
		}
		body.template_blog, body.template_article, body.template_cart, body.template_customers, body.template_page {
			background: #f3f3f3;
		}
		.ega-container {
			margin: 0 auto;
		}
		.ega-container, .ega-container--fluid {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
		
		.ega-container {
			max-width: 540px;
		}
	
		.ega-container {
			max-width: 720px;
		}
	
		.ega-container {
			max-width: 960px;
		}
	
		.ega-container {
			max-width: 1140px;
		}
	
		.ega-container {
			max-width: 1140px;
		}
		#ega-page .ega-page__wrap {
			background: #fff;
			padding: 16px 16px 32px 16px;
			text-align: center;
		}
	
		#ega-page .ega-page__wrap {
			padding: 48px 40px 40px;
		}
		#ega-page .ega-page__wrap .ega-page__body {
			display: inline-block;
			width: 100%;
			text-align: left;
		}
	
		#ega-page .ega-page__wrap .ega-page__body {
			width: 840px;
		}
		.ega-h6, h6, p {
			font-size: 1rem;
		}
		iframe, img {
			max-width: 100%;
			vertical-align: middle;
		}
		img {
			max-width: 100%;
			vertical-align: middle;
			height: initial !important;
		}
		a {
			color: #288ad6;
		}
		a {
			text-decoration: none;
		}
		p:first-child {
			margin-top: 0px;
		}
		#ega-page .ega-page__wrap .ega-page__body * {
			font-size: 16px;
		}
		#ega-page .ega-page__wrap .ega-page__title {
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;
		}
	</style>
</head>
<body class="template_page" id="ega-fashion">
	<div id="ega-page">
		<div class="ega-container">
			<div class="ega-page__wrap">
				<div class="ega-page__body">
					<div class="ega-page__title">
						Giới thiệu
					</div>
					<div class="ega-page__content">
						<p><span style="font-size: 15px;">Được ra đời từ năm 2013 với định hướng trở thành một trong những cửa hàng cung cấp các sản phẩm giày đá bóng chính hãng tốt nhất Việt Nam. Thanh Hùng Futsal đã và đang nỗ&nbsp;lực nhằm đem lại cho khách hàng những trải nghiệm tốt nhất về chất lượng dịch vụ, cũng như đưa ra những tư vấn tận tâm&nbsp;để khách hàng có thể chọn lựa được cho mình những đôi giày đá banh phù hợp nhất, ưng ý nhất khi mang ra sân.</span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-1_de443bc3dab1470ab156813e2ea7231c.jpg"></p><p><span style="font-size: 15px;">Uy tín của Thanh Hùng Futsal&nbsp;trong những năm qua&nbsp;được xây dựng bằng chính sự ủng hộ của các khách hàng trên khắp đất nước Việt Nam và bạn bè quốc tế.</span></p><p><span style="font-size: 15px;"><strong>1. TẦM NHÌN</strong></span></p><p><span style="font-size: 15px;">Tại Thanh Hùng Futsal, chúng tôi luôn hướng đến việc&nbsp;cải tiến chất lượng trải nghiệm&nbsp;của khách hàng&nbsp;thông qua việc đa dạng hóa các loại&nbsp;sản phẩm, đầu tư nghiên cứu để đưa ra những tư vấn phù hợp với từng khách hàng một. Và với định hướng trở thành một trong những cửa hàng cung cấp các sản phẩm giày đá bóng chính hãng tốt nhất Việt Nam, Thanh Hùng Futsal&nbsp;luôn hướng đến những giá trị cốt lõi cho khách hàng&nbsp;bao gồm:</span></p><ul><li><p><span style="font-size: 15px;"><strong>Trải nghiệm hoàn hảo:</strong>&nbsp;Thông qua việc tư vấn, hỗ trợ khách hàng tận tâm và nhanh nhất có thể.&nbsp;</span></p></li><li><p><span style="font-size: 15px;"><strong>Sản phẩm chính hãng:</strong>&nbsp;Sản phẩm được Thanh Hùng Futsal&nbsp;mua trực tiếp từ công ty và các trang web uy tín của Nike, adidas, Puma&nbsp;v.v… nên các bạn có thể yên tâm về nguồn gốc sản phẩm.</span></p></li><li><p><span style="font-size: 15px;"><strong>Chế độ dịch vụ:</strong>&nbsp;Những sản phẩm giày đá banh tại Thanh Hùng Futsal&nbsp;được bảo hành 3 tháng, hỗ trợ trả góp 0% lãi suất qua Fundiin, Freeship toàn quốc khi khách hàng thanh toán chuyển khoản trước, tặng vớ &amp; balo khi mua giày.</span></p></li></ul><p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-2_f4dc7d6785f74ab0a1f8f81a8283e806.jpg"></p>
					</div><p><span style="font-size: 15px;"><strong>2. CÁC SẢN PHẨM ĐƯỢC THANH HÙNG FUTSAL&nbsp;CUNG CẤP</strong></span></p><p><span style="font-size: 15px;"><strong>Giày đá bóng sân cỏ nhân tạo:&nbsp;</strong><a href="https://thanhhungfutsal.com/collections/giay-co-nhan-tao">XEM TẠI ĐÂY</a></span></p><p><span style="font-size: 15px;">Các sản phẩm giày đá banh&nbsp;có&nbsp;thiết kế đế đặt trưng cho bề mặt sân cỏ nhân tạo (đê TF), đến từ các thương hiệu nổi tiếng như Nike, adidas, Puma, Mizuno, Desporte, Zocker, Kamito.</span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-3_a44dd72c3f7a488ea5cec35878d43619.jpg"></p><p><span style="font-size: 15px;"><strong>Giày đá bóng sân Futsal:&nbsp;</strong><a href="https://thanhhungfutsal.com/collections/giay-futsal">XEM TẠI ĐÂY</a></span></p><p><span style="font-size: 15px;">Các sản phẩm giày đá banh&nbsp;có&nbsp;thiết kế đế đặt trưng cho bề mặt sân futsal (đế IC), đến từ các thương hiệu nổi tiếng như Nike, adidas,&nbsp;Mizuno, Desporte, Zocker, Athleta, Kamito.</span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-4_6e42ceb2b81e493d8816591fef362a85.jpg"></p><p><span style="font-size: 15px;"><strong>Giày đá bóng dành cho trẻ em và bạn nữ:&nbsp;</strong><a href="https://thanhhungfutsal.com/collections/giay-da-bong-tre-em">XEM TẠI ĐÂY</a></span></p><p><span style="font-size: 15px;">Các sản phẩm giày đá banh&nbsp;có thiết kế form dáng phù hợp cho bàn chân trẻ em và các bạn nữ,&nbsp;đến từ các thương hiệu nổi tiếng như Nike, adidas, v.v...</span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-3_dc0086431de942279fb439c6f59bf821.png"></span></p><p><span style="font-size: 15px;"><strong>Phụ kiện thể thao chính hãng:&nbsp;</strong><a href="https://thanhhungfutsal.com/collections/phu-kien">XEM TẠI ĐÂY</a></span></p><p><span style="font-size: 15px;">Các phụ kiện chính hãng như quần áo thi đấu&nbsp;Grand Sport, chai xịt nóng/ lạnh Starbalm, vớ Activital (từ Nhật Bản), trái bóng thi đấu Grand Sport,&nbsp;Động lực v.v...</span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/bai-viet-trang-chu-shop-giay-thanh-hung-futsal-8_05079e54c8464f6a89f52de9776b8747.png"></span></p><p><span style="font-size: 15px;"><strong>3. CỬA HÀNG CỦA THANH HÙNG&nbsp;FUTSAL:</strong></span></p><p><p><span style="font-size: 15px;">Hoạt động từ&nbsp;<strong>9h tới 21h hàng ngày và cả 7 ngày trong tuần</strong>. Rất vui được đón tiếp các bạn.</span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-7_83321e0c189548fd8d2e00bafe9dbce7.jpg"></p><p style="text-align: center;"><span style="font-size: 15px;">Thanh Hùng Futsal Flagship:<strong>&nbsp;</strong><strong>48 Phạm Văn Bạch, P.15, Q. Tân Bình, TP. HCM | Hotline: 0901 710 780</strong></span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-5_520342acf9984398b8cc6f8aa3caca7d.jpg"></p><p style="text-align: center;"><span style="font-size: 15px;">Thanh Hùng Futsal Store I:<strong>&nbsp;27 Đường D52, P. 12, Q. Tân Bình, TP. HCM | Hotline: 0901 377 722</strong><br>Shop nằm ngay sau cây xăng ở ngã 4 Hoàng Hoa Thám – Cộng Hòa,<br>Đối diện cổng Doanh trại quân đội 367.</span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/bai-viet-gioi-thieu-thanh-hung-futsal-6_13f026d38eb749239d76bf35dcf7ea9c.jpg"></p><p style="text-align: center;"><span style="font-size: 15px;">Thanh Hùng Futsal Store II:&nbsp;<strong>32A Thạch Thị Thanh, P. Tân Định, Q. 1, TP. HCM | Hotline: 0901 710 730</strong></span></p><p><span style="font-size: 15px;">Xin cảm ơn các bạn đã tin tưởng và ủng hộ Thanh Hùng Futsal.</span></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


