
@{
    ViewData["Title"] = "cuaHangTruong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
	<title></title>
	<style>
		* {
			font-family: Roboto Condensed;
		}
		*, ::after, ::before {
			box-sizing: border-box;
		}
		#ega-page {
			padding-top: 48px;
			padding-bottom: 48px;
		}
		body {
			line-height: 1.5;
			font-size: 1rem;
			color: #333;
			width: 100%;
			min-height: 100%;
			margin: 0;
			scroll-behavior: smooth;
		}
		html, body {
			font-size: 14px;
		}
		body {
			background: #ffffff;
			color: #000000;
			overflow-x: hidden;
		}
		body.template_blog, body.template_article, body.template_cart, body.template_customers, body.template_page {
			background: #f3f3f3;
		}
		.ega-container {
			margin: 0 auto;
		}
		.ega-container, .ega-container--fluid {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
		
		.ega-container {
			max-width: 540px;
		}

		.ega-container {
			max-width: 720px;
		}
	
		.ega-container {
			max-width: 960px;
		}
	
		.ega-container {
			max-width: 1140px;
		}
		
		.ega-container {
			max-width: 1140px;
		}
		#ega-page .ega-page__wrap {
			background: #fff;
			padding: 16px 16px 32px 16px;
			text-align: center;
		}

		#ega-page .ega-page__wrap {
			padding: 48px 40px 40px;
		}
		#ega-page .ega-page__wrap .ega-page__body {
			display: inline-block;
			width: 100%;
			text-align: left;
		}
	
		#ega-page .ega-page__wrap .ega-page__body {
			width: 840px;
		}
		.ega-h6, h6, p {
			font-size: 1rem;
		}
		p:first-child {
			margin-top: 0px;
		}
		#ega-page .ega-page__wrap .ega-page__body * {
			font-size: 16px;
		}
		#ega-page .ega-page__wrap .ega-page__title {
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;
		}
	</style>
</head>
<body class="template_page" id="ega-fashion">
	<div id="ega-page">
		<div class="ega-container">
			<div class="ega-page__wrap">
				<div class="ega-page__body">
					<div class="ega-page__title">
						Cửa hàng trưởng
					</div>
					<div class="ega-page__content">
						<p><span style="font-size: 15px;"><strong>NGÀY ĐĂNG: 06/04/2022.</strong></span></p><p><span style="font-size: 15px;"><strong>I. MỨC LƯƠNG:&nbsp;TỪ 7.000.000đ&nbsp;ĐẾN 12.000.000đ.</strong></span></p><ul><li><span style="font-size: 15px;">Yêu cầu kinh nghiệm: từ 2-3 năm.</span></li><li><span style="font-size: 15px;">Địa điểm làm việc: Chi Nhánh Tân Bình.</span></li><li><span style="font-size: 15px;">Thời gian làm việc: Có thể xoay ca linh hoạt.</span></li></ul><p><span style="font-size: 15px;"><strong>II. MÔ TẢ CÔNG VIỆC:</strong></span></p><p><span style="font-size: 15px;"><strong>1. Quản lý nhân viên bán hàng:</strong></span></p><ul><li><span style="font-size: 15px;">Sắp xếp lịch làm việc cho nhân viên bán hàng thuộc quyền quản lý của mình hàng tuần.</span></li><li><span style="font-size: 15px;">Kiểm tra giờ giấc làm việc của nhân viên.</span></li><li><span style="font-size: 15px;">Kiểm tra, giám sát thái độ và tinh thần làm việc của từng nhân viên của mình quản lý.</span></li><li><span style="font-size: 15px;">Đào tạo và huấn luyện nhân viên thuộc quyền quản lý của mình.</span></li></ul><p><span style="font-size: 15px;"><strong>2. Theo dõi, giám sát tình hình bán hàng:</strong></span></p><ul><li><span style="font-size: 15px;">Nắm được doanh thu bán hàng hằng ngày, các mã hàng bán được, những mã không bán được, lý do không bán được hàng.</span></li><li><span style="font-size: 15px;">Nắm bắt số tồn hàng ngày.</span></li></ul><p><span style="font-size: 15px;"><strong>3. Quản lý cửa hàng:</strong></span></p><ul><li><span style="font-size: 15px;">Quản lý tài sản của cửa hàng: tất cả các tài sản thuộc cửa hàng mình quản lý.</span></li><li><span style="font-size: 15px;">Kiểm tra vệ sinh trong gian hàng: quầy, tủ kệ, kho.</span></li><li><span style="font-size: 15px;">Làm bảng chấm công, đánh giá, các văn bản liên quan đến công việc theo yêu cầu của công ty.</span></li><li><span style="font-size: 15px;">Kiểm tra bảo quản hàng hóa.</span></li><li><span style="font-size: 15px;">Tìm hiểu nhu cầu của khách hàng.</span></li><li><span style="font-size: 15px;">Lập toàn bộ hệ thống sổ sách, giấy tờ của cửa hàng.</span></li><li><span style="font-size: 15px;">Thường xuyên kiểm tra tài sản cố định và những vật dụng tại cửa hàng.</span></li><li><span style="font-size: 15px;">Trực tiếp huấn luyện NVBH thử việc.</span></li><li><span style="font-size: 15px;">Hướng dẫn và kèm cặp nhân viên bán hàng mới cho đến khi quen việc.</span></li><li><span style="font-size: 15px;">Trực cửa hàng theo lịch đã phân công.</span></li><li><span style="font-size: 15px;">Trực tiếp tham gia tiếp khách và giải quyết các khiếu nại, thắc mắc của khách hàng vượt ngoài phạm vi của nhân viên bán hàng.</span></li><li><span style="font-size: 15px;">Hướng dẫn và kiểm tra việc trưng bày, vệ sinh tại cửa hàng hằng ngày.</span></li><li><span style="font-size: 15px;">Giám sát tình hình làm việc và tinh thần thái độ của nhân viên tại cửa hàng.</span></li><li><span style="font-size: 15px;">Chịu trách nhiệm đối với toàn bộ hoạt động của cửa hàng.</span></li></ul><p><span style="font-size: 15px;"><strong>III. YÊU CẦU:</strong></span></p><ul><li><span style="font-size: 15px;">Có ít nhất 2 năm kinh nghiệm tại vị trí&nbsp;Cửa hàng trưởng.&nbsp;</span></li><li><span style="font-size: 15px;">Có khả năng quản lý, đào tạo nhân viên.&nbsp;</span></li><li><span style="font-size: 15px;">Chịu được áp lực công việc.&nbsp;</span></li><li><span style="font-size: 15px;">Ưu tiên ứng viên có kinh nghiệm trong ngành trời trang &amp; thể thao.</span></li></ul><p><span style="font-size: 15px;"><strong>IV. QUYỀN LỢI:</strong></span></p><ul><li><span style="font-size: 15px;">Lương thưởng hấp dẫn, thưởng theo doanh số của cửa hàng và của cả shop. Lương tháng 13.</span></li><li><span style="font-size: 15px;">Ưu đãi mua hàng dành cho nhân viên.</span></li><li><span style="font-size: 15px;">Trợ cấp ăn uống 35.000đ/ Ngày.</span></li></ul><p><span style="font-size: 15px;">Ứng viên vui lòng gởi CV về địa chỉ: <strong>Hr.Thanhhungfutsal@gmail.com</strong>.</span></p>
					</div><p><span style="font-size: 15px;">Tiêu đề ghi rõ: <strong>Họ tên + Ứng tuyển vị trí Cửa hàng trưởng</strong>.</span></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


