
@{
    ViewData["Title"] = "KhachHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
	<title></title>
	<style>
		* {
			font-family: Roboto Condensed;
		}
		*, ::after, ::before {
			box-sizing: border-box;
		}
		#ega-page {
			padding-top: 48px;
			padding-bottom: 48px;
		}
		body {
			line-height: 1.5;
			font-size: 1rem;
			color: #333;
			width: 100%;
			min-height: 100%;
			margin: 0;
			scroll-behavior: smooth;
		}
		html, body {
			font-size: 14px;
		}
		body {
			background: #ffffff;
			color: #000000;
			overflow-x: hidden;
		}
		body.template_blog, body.template_article, body.template_cart, body.template_customers, body.template_page {
			background: #f3f3f3;
		}
		.ega-container {
			margin: 0 auto;
		}
		.ega-container, .ega-container--fluid {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
	
		.ega-container {
			max-width: 540px;
		}
	
		.ega-container {
			max-width: 720px;
		}

		.ega-container {
			max-width: 960px;
		}

		.ega-container {
			max-width: 1140px;
		}
	
		.ega-container {
			max-width: 1140px;
		}
		#ega-page .ega-page__wrap {
			background: #fff;
			padding: 16px 16px 32px 16px;
			text-align: center;
		}
	
		#ega-page .ega-page__wrap {
			padding: 48px 40px 40px;
		}
		#ega-page .ega-page__wrap .ega-page__body {
			display: inline-block;
			width: 100%;
			text-align: left;
		}
		
		#ega-page .ega-page__wrap .ega-page__body {
			width: 840px;
		}
		p:first-child {
			margin-top: 0px;
		}
		.ega-h6, h6, p {
			font-size: 1rem;
		}
		iframe, img {
			max-width: 100%;
			vertical-align: middle;
		}
		img {
			max-width: 100%;
			vertical-align: middle;
			height: initial !important;
		}
		a {
			text-decoration: none;
		}
		#ega-page .ega-page__wrap .ega-page__body * {
			font-size: 16px;
		}
		#ega-page .ega-page__wrap .ega-page__title {
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;
		}
		a {
			color: #288ad6;
		}
	</style>
</head>
<body class="template_page" id="ega-fashion">
	<div id="ega-page">
		<div class="ega-container">
			<div class="ega-page__wrap">
				<div class="ega-page__body">
					<div class="ega-page__title">
						Khách hàng của ThanhHung Futsal
					</div>
					<div class="ega-page__content">
						<p><span style="font-size: 15px;">Được ra đời từ năm 2013 với mong muốn đem lại cho các bạn đam mê túc cầu giáo những đôi giày bóng đá chính hãng “<strong>CHẤT NHẤT</strong>” với giá cả “<strong>TỐT NHẤT</strong>” thị trường, từ những thương hiệu hàng đầu thế giới như NIKE, ADIDAS, PUMA, MIZUNO, ASICS, DESPORTE, JOMA, ATHLETA, X-MUNICH, GRAND SPORT, KAMITO&nbsp;v.v…</span></p><p><span style="font-size: 15px;">Thanh Hùng Futsal mang đến cho các bạn dòng giày chuyên dành cho mặt&nbsp;sân bóng đá trong nhà FUTSAL&nbsp;và&nbsp;sân cỏ nhân tạo&nbsp;5-7 người. Sản phẩm tại Thanh Hùng Futsal được mua trực tiếp từ công ty và các trang web uy tín của NIKE, ADIDAS v.v…. Với tiêu chí luôn cập nhật cho các bạn những mẫu giày bóng đá chính hãng mới nhất, hỗ trợ tư vấn các vấn đề liên quan đến giày đá banh.&nbsp;Uy tín của Shop gầy dựng trong những năm qua khách hàng có thể kiểm chứng thông qua facebook hoặc bạn bè, người thân. Shop không những bán hàng cho người tiêu dùng Việt Nam mà cả bạn bè quốc tế. Hiện tại Thanh Hùng Futsal đang là nhà tài trợ cho CLB VIC Friendship Futsal của Australia.</span></p><p><span style="font-size: 15px;">Ngoài ra khi mua hàng tại ThanhHung Futsal, các bạn sẽ được&nbsp;hỗ trợ trả góp không lãi suất với thủ tục cực kỳ đơn giản, giày đá banh mua tại shop sẽ được bảo hành 3 tháng và tặng 1 đôi với dệt kim cùng với 1 ba lô Thanh Hung Futsal.</span></p><p><span style="font-size: 15px;">Để được tư vấn nhiều hơn về những đôi giày đá banh tại Thanh Hùng Futsal vui lòng liên hệ vào số Hotline/Zalo:&nbsp;<strong>0901 710 780</strong>&nbsp;hoặc gởi mess qua&nbsp;<a href="https://www.facebook.com/thanhhungfutsal/">fanpage</a>&nbsp;nhé!</span></p><p><span style="font-size: 15px;">Shop hoạt động từ&nbsp;<strong>9h tới 21h hàng ngày và cả 7 ngày trong tuần</strong>. Rất vui được đón tiếp các bạn.</span></p><p><span style="font-size: 15px;"><strong>Mua Giày Bóng Đá Chính Hãng Ở TP. HCM tại:</strong></span></p><p><span style="font-size: 15px;">Thanh Hùng Futsal Store I:&nbsp;<strong>27 ĐƯỜNG D52, P. 12, Q. TÂN BÌNH, TP. HCM | ĐT: 0901 710 780 - 028 38429720</strong><br>Shop nằm ngay sau cây xăng ở ngã 4 Hoàng Hoa Thám – Cộng Hòa,<br>Đối diện cổng Doanh trại quân đội 367</span></p><p><span style="font-size: 15px;">Thanh Hùng Futsal Store II:&nbsp;<strong>32A THẠCH THỊ THANH, P. TÂN ĐỊNH, Q. 1, TP. HCM | ĐT: 0901 710 730</strong></span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/customer_bec20db7fa9e46758dc06905c16f990e.jpg"></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-21_33d3baeaf00c4c019861397bc880e718.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-1_6e081fbbdb354fd19d36c90a6db66667.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-2_07298799e7be4085904be17ab42ab71c.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-3_3cf135e927494b9f9815101a2c884b8d.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-14_a1219ed3735f4db39bb8842696fb4912.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-4_c2ec932a33894a83b1a3e6e41918d2c6.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-5_35171ec642ff4a84ae99070cf2526da7.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-15_b53400c3f8ab478da55e0959fa9a9f78.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-6_d1421834118a45f99a873474c453741c.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-16_04b675684d5d4311a52260611f26fe79.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-11_87d69f43cb124816872891385f01862c.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-7_96a05ef844c14e47945ee11d2a2bc31f.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-17_28a4bb6dfc794fdbbd0f1995baea6fc8.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-8_a2ddd52c9cce4bfc95b342c55599efa8.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-9_ee3ab32300484a238d40693273e0b94c.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-18_8f61da5c0c2f4c5aada816a0eaf7d780.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-10_907feeb6fdf74d649175f6a480265305.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-19_9182a3b7a8364d1b9d3f8d5f5748163b.jpg"></span></p><p style="text-align: center;"><span style="font-size: 15px;"><img src="//file.hstatic.net/200000278317/file/cus-13_9e1b082a09b04d94a64d6586c1d9009a.jpg"></span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-3_b257553ad1e648fca168e14850943476.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-4_a58d5babf0cb42fdaa4b073ad4c6c5d2.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-5_0dd1526695b4480cb705e35f7b374235.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-6_1c2e475acdb14f83b5c606c44bef148c.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-7_ac14e205317749e4a952a3b8d11bb555.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-8_a6a33419cbbe4b1b909ce51a458609b3.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-9_85e56cf0c7bf413a992adee36df428c0.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-10_416676b1be2a48df9e19d3f1f517774f.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-15_d4f882eb3fc64acaa725fa6637329788.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-16_65f2daa0f6084661977dc8ff2380ecbc.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-1_bf12c731840b45e9bb93272482b66202.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-2_d72ac1d8bbf94f67a0eaa8e7b04fab35.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-11_823766ff8bd548428f6f1d30d3aa6ec3.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-12_baedbb330c234c3ab253ddbea238e727.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-13_acab42bb13fe42a1a038165ae7d9c7c6.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-14_f737d159fe7e48b48d4f879d12a2ae65.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-17_ea47804cbb3540258e1148da9845458e.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-18_ec8158a538a54e889d9f7f377a0bd462.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-19_08a0753be23249839cc35aed51a62638.jpg"></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/cus-20_5087d15317fc4bd38626394054eca5c7.jpg"></p><p><strong style="font-size: 15px;">Updating ...</strong></p><p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


