
@{
    ViewData["Title"] = "nhanVienBanHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
	<title></title>
	<style>
		* {
			font-family: Roboto Condensed;
		}
		*, ::after, ::before {
			box-sizing: border-box;
		}
		#ega-page {
			padding-top: 48px;
			padding-bottom: 48px;
		}
		body {
			line-height: 1.5;
			font-size: 1rem;
			color: #333;
			width: 100%;
			min-height: 100%;
			margin: 0;
			scroll-behavior: smooth;
		}
		html, body {
			font-size: 14px;
		}
		body {
			background: #ffffff;
			color: #000000;
			overflow-x: hidden;
		}
		body.template_blog, body.template_article, body.template_cart, body.template_customers, body.template_page {
			background: #f3f3f3;
		}
		.ega-container {
			margin: 0 auto;
		}
		.ega-container, .ega-container--fluid {
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
		}
	
		.ega-container {
			max-width: 540px;
		}
		
		.ega-container {
			max-width: 720px;
		}
		
		.ega-container {
			max-width: 960px;
		}
		
		.ega-container {
			max-width: 1140px;
		}
		
		.ega-container {
			max-width: 1140px;
		}
		#ega-page .ega-page__wrap {
			background: #fff;
			padding: 16px 16px 32px 16px;
			text-align: center;
		}
	
		#ega-page .ega-page__wrap {
			padding: 48px 40px 40px;
		}
		#ega-page .ega-page__wrap .ega-page__body {
			display: inline-block;
			width: 100%;
			text-align: left;
		}
		
		#ega-page .ega-page__wrap .ega-page__body {
			width: 840px;
		}
		p:first-child {
			margin-top: 0px;
		}
		.ega-h6, h6, p {
			font-size: 1rem;
		}
		img {
			max-width: 100%;
			vertical-align: middle;
			height: initial !important;
		}
		a {
			text-decoration: none;
		}
		#ega-page .ega-page__wrap .ega-page__body * {
			font-size: 16px;
		}
		#ega-page .ega-page__wrap .ega-page__title {
			font-weight: bold;
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 16px;
		}
		iframe, img {
			max-width: 100%;
			vertical-align: middle;
		}
		a {
			color: #288ad6;
		}
	</style>
</head>
<body class="template_page" id="ega-fashion">
	<div id="ega-page">
		<div class="ega-container">
			<div class="ega-page__wrap">
				<div class="ega-page__body">
					<div class="ega-page__title">
						Nhân viên tư vấn bán hàng (Full/Part-time)
					</div>
					<div class="ega-page__content">
						<p><span style="font-size: 15px;"><strong>NGÀY ĐĂNG: 06/04/2022.</strong></span></p><p><span style="font-size: 15px;"><strong>MỨC LƯƠNG:&nbsp;THỎA THUẬN.</strong></span></p><p><span style="font-size: 15px;">Độ tuổi&nbsp;từ 18 đến 30 tuổi.</span></p><p><span style="font-size: 15px;"><strong>MÔ TẢ CÔNG VIỆC:</strong></span></p><ul><li><span style="font-size: 15px;">Nắm vững kiến thức về sản phẩm, chịu trách nhiệm tư vấn, giới thiệu sản phẩm hàng hóa đến khách hàng</span></li><li><span style="font-size: 15px;">Tuân thủ tất cả các nội quy của cửa hàng.</span></li><li><span style="font-size: 15px;">Thực hiện và duy trì hoạt động trưng bày sản phẩm trong cửa hàng.</span></li><li><span style="font-size: 15px;">Xử lý hàng hóa nhanh chóng và hiệu quả, liên tục bổ sung sản phẩm để đảm bảo toàn bộ sản phẩm của cửa hàng được trưng bày trong khu vực bán hàng.</span></li><li><span style="font-size: 15px;">Hoàn thành các giao dịch bán hàng một cách nhanh chóng và chính xác.</span></li><li><span style="font-size: 15px;">Giảm tối thiểu mất mát hàng hóa trong kho và tại khu vực bán hàng.</span></li><li><span style="font-size: 15px;">Làm tốt những nhiệm vụ khác do quản lý yêu cầu.</span></li></ul><p><span style="font-size: 15px;"><b>LÀM XOAY CA LINH HOẠT:</b></span></p><ul><li><span style="font-size: 15px;">Ca sáng: 08h – 13h.</span></li><li><span style="font-size: 15px;">Ca trưa: 13h - 17h.</span></li><li><span style="font-size: 15px;">Ca chiều: 17h – 21h (Nghỉ 01 ngày trong tuần từ thứ 2 đến thứ 6).</span></li><li><span style="font-size: 15px;">Full time: 9h - 18h.</span></li></ul><p><span style="font-size: 15px;"><strong>YÊU CẦU:</strong></span></p><ul><li><span style="font-size: 15px;">Trách nhiệm là yếu tố quan trọng, trách nhiệm trong công việc, trách nhiệm với khách hàng, trách nhiệm với đồng nghiệp.</span></li><li><span style="font-size: 15px;">Nhanh nhẹn, trung thực, kỹ năng giao tiếp tốt.</span></li><li><span style="font-size: 15px;">Có kinh nghiệm bán hàng là lợi thế.</span></li><li><span style="font-size: 15px;">Yêu thích lĩnh vực bán lẻ, thời trang, thể thao.</span></li></ul><p><span style="font-size: 15px;"><strong>KỸ NĂNG CẦN CÓ:</strong></span></p><ul><li><span style="font-size: 15px;">Khả năng excel cơ bản, xử lý máy tính thành thạo.</span></li><li><span style="font-size: 15px;">Kỹ năng giao tiếp tốt.</span></li><li><span style="font-size: 15px;">Tiếng Anh cơ bản.</span></li></ul><p><strong><span style="font-size: 15px;">QUYỀN LỢI:</span></strong></p><ul><li><span style="font-size: 15px;">Chế độ BHXH đầy đủ đối với nhân viên Full-Time.</span></li><li><span style="font-size: 15px;">Lương thưởng hấp dẫn, thưởng theo doanh số mỗi tháng.&nbsp;</span></li><li><span style="font-size: 15px;">Lương tháng 13.</span></li><li><span style="font-size: 15px;">Ưu đãi mua hàng dành cho nhân viên.</span></li><li><span style="font-size: 15px;">Trợ cấp ăn uống 35.000đ/ 8h.</span></li></ul><p><strong><span style="font-size: 15px;">Hạn nộp CV: 15/04/2022.</span></strong></p><p><span style="font-size: 15px;"><b>Nộp CV ngay tại đây:&nbsp;</b><a href="https://shorturl.at/ryAVX">https://shorturl.at/ryAVX</a></span></p><p style="text-align: center;"><img src="//file.hstatic.net/200000278317/file/tuyendung_806e74314c7d439c97211cf6e1ad0112.jpg"></p><p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


