@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNVBH.cshtml";
}


<link rel="stylesheet" href="/GiaoDien/admin.css">
<header class="header">
    <h1>Welcome Back, Nhân Viên Bán Hàng!</h1>
</header>