@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNVQLSP.cshtml";
}


<link rel="stylesheet" href="/GiaoDien/admin.css">
<header class="header">
    <h1>Welcome Back, Nhân Viên Quản Lý Sản Phẩm!</h1>
</header>